.container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $viewport-tablet) {
    width: 708px;
    padding-inline: 30px;
  }

  @media (min-width: $viewport-desktop) {
    width: 1220px;
    padding-inline: 110px;
  }
}
