.container {
  width: 100%;
  padding-inline: 20px;
  box-sizing: border-box;

  @media (min-width: $viewport-tablet) {
    padding-inline: 30px;
  }

  @media (min-width: $viewport-desktop) {
    padding-inline: 110px;
  }
}
