.main-header {
  background-color: #ffffff;

  @media (min-width: $viewport-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $viewport-desktop) {
    position: absolute;
    top: 33px;
    z-index: 1;
    background-color: transparent;
  }
}

.main-header__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $viewport-tablet) {
    justify-content: start;
  }
}

.main-header__logo-image {
  display: block;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $viewport-tablet) {
    margin-right: 13px;
  }

  @media (min-width: $viewport-desktop) {
    margin-right: 14px;
  }
}

.main-header__logo-text {
  display: block;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
