.products {
  background-color: #ffffff;

  &__title {
    font-family: $headers-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    @media (min-width: $viewport-tablet) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__list {
    @include list-style-reset();
  }

  &__title-link,
  &__more-title {
    font-family: $headers-font;
    font-weight: 400;
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    line-height: 20px;

    @media (min-width: $viewport-tablet) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__item-details,
  &__item-detail,
  &__more-text {
    @include mp-reset();
    font-size: 12px;
    line-height: 16px;
    color: #444444;

    @media (min-width: $viewport-tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__more-text {
    @media (min-width: $viewport-tablet) {
      line-height: 18px;
    }
  }
}
