.slider {
  position: relative;
  width: 280px;

  @media (min-width: $viewport-tablet) {
    width: 560px;
  }

  @media (min-width: $viewport-desktop) {
    grid-area: 1 / 2 / 4 / 3;
  }
}

.slider__toggle {
  position: absolute;
  display: block;
  padding: 0;
  top: 0;
  left: 140px;
  border: none;
  background-color: #666666;
  width: 4px;
  height: 257px;

  &::before {
    content: "";
    position: absolute;
    top: 113px;
    left: -10px;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#live-example-toggle");
    mask-repeat: no-repeat;
    width: 24px;
    height: 18px;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 100px;
    left: -20px;
    background-color: #ffffff;
    border: 2px solid  #666666;
    border-radius: 50%;
    z-index: 1;
  }

  &:hover,
  &:hover::before {
    background-color: #68b738;
  }

  &:hover::after {
    border-color: #68b738;
  }

  &:active,
  &:active::before {
    background-color: #5eaa2f;
  }

  &:active::after {
    border-color: #5eaa2f;
  }
}

.slider__image-one {
  mask-image: linear-gradient(to right, #eaeaea 50%, transparent 50%);
}

.slider__image-two {
  mask-image: linear-gradient(to right, transparent 140px, #eaeaea 140px);
  position: absolute;
  left: 0;
}
