.subscribe{
  font-family: $headers-font;
  font-weight: 400;
  background-color: #ffffff;

  &__title{
    @include mp-reset();
    font-size: 24px;
    line-height: 24px;
  }
  &__text{
    font-size: 16px;
    line-height: 24px;
  }
}
